* {
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh; /* Full viewport height */
}


.fa-hand-o-left {
  display: inline-block;
  animation: beep 0.5s ease-in-out infinite; /* Adjust duration for faster or slower beeping */
}
.container {
    display: flex;
    height: 100%; /* Full height of the body */
}

.left-column {
    width: 25%; /* 4/12 width */
    background-color: #f4f4f4; /* Light gray for visibility */
    padding: 70px;
    
}
.left-column p{
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
}
/* Profile section */
.inner-left {
    height: 30%;
    display: flex;
    flex-direction: column; /* Align items in a column */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    text-align: center; /* Center text */
    
}

/* Nav system area */
.bottom-left {
    background-color: rgb(228, 228, 228);
    height: 60%;
    border-radius: 5%;
    padding: 20%;
    font-size: 30px;

    border: 1px solid black;
    
}
/*Nav System Border Highlight*/

/*Menu System used as container*/
nav ul li button{
    
  border: none;
  background-color: rgb(228, 228, 228);
  color: black;
  padding: 18px 8px;
  border: none;
  cursor: pointer;
  font-size: medium;
  
  
  }
nav ul li{
  list-style: none;
  text-align: left;
  padding-bottom: 20%;
}

/* switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .2s;
  }
  
  input:checked + .slider {
    background-color: #04AA6D;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #04AA6D;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.right-column {
    flex: 1; /* Take up remaining space */
    background-color: #e0e0e0; /* Slightly darker gray */
    padding: 20px;
}
.btn input{
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.inner-right {   
    height: 30%;
    
}
.bottom-right{
   
    padding-top: 15px;
}
.iframe{
    
    width: 100%;
    height:400px;
    border: none;
}
.highlight{
    font-size: 300%;
}
.navsys {   
    background-color: #f3f3f3;
}

/* 